*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    overflow:hidden;
    background:#000;
    color:#fff;
}

#gameCanvas{
    position:fixed;
    top:0;
    left:0;
    width:100vw;
    height:100vh;
    background:radial-gradient(circle at center,#081220,#000 75%);
    z-index:1;
}

#cockpit{
    position:absolute;
    top:20px;
    left:20px;
    width:330px;
    background:rgba(10,20,40,.65);
    border:2px solid cyan;
    border-radius:18px;
    padding:18px;
    backdrop-filter:blur(10px);
    box-shadow:0 0 25px cyan;
    z-index:5;
}

#cockpit h1{
    text-align:center;
    color:cyan;
    margin-bottom:15px;
    text-shadow:0 0 12px cyan;
}

.status{
    margin-bottom:15px;
}

.status p{
    color:#9fdfff;
    font-size:14px;
}

.status h2{
    margin-top:5px;
    color:white;
}

progress{
    width:100%;
    height:18px;
}

.buttons{
    display:grid;
    grid-template-columns:1fr 1fr;
    gap:10px;
    margin-top:15px;
}

.buttons button{
    padding:12px;
    border:none;
    border-radius:10px;
    background:#003b64;
    color:white;
    cursor:pointer;
    transition:.25s;
    font-weight:bold;
}

.buttons button:hover{
    background:#00b7ff;
    transform:scale(1.05);
    box-shadow:0 0 15px cyan;
}

.warpButtons{
    margin-top:18px;
    display:flex;
    flex-direction:column;
    gap:10px;
}

.warpButtons button{
    padding:13px;
    font-size:16px;
    border:none;
    border-radius:12px;
    cursor:pointer;
    font-weight:bold;
    transition:.25s;
}

#warpButton{
    background:#00ff99;
    color:black;
}

#warpButton:hover{
    background:#00ffaa;
    box-shadow:0 0 25px #00ff99;
}

.warpButtons button:last-child{
    background:#ff4444;
    color:white;
}

.warpButtons button:last-child:hover{
    box-shadow:0 0 20px red;
}

.control{
    margin-top:18px;
    text-align:center;
    border-top:1px solid rgba(255,255,255,.25);
    padding-top:15px;
}

.control h3{
    color:cyan;
    margin-bottom:8px;
}

#hud{
    position:absolute;
    bottom:25px;
    left:50%;
    transform:translateX(-50%);
    z-index:5;
}

#message{
    background:rgba(0,0,0,.65);
    border:2px solid cyan;
    border-radius:12px;
    padding:12px 20px;
    color:white;
    text-align:center;
    min-width:260px;
    box-shadow:0 0 15px cyan;
}

@media (max-width:700px){

#cockpit{
    width:95%;
    left:50%;
    top:10px;
    transform:translateX(-50%);
}

.buttons{
    grid-template-columns:1fr;
}

}
